$primary: #150080;
$accent: #fc0df4;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2c0541;

body{
    font-family: monospace;
    background: linear-gradient(to bottom right, $primary, $accent);
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;

    .h2{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    ul{
        margin-top: 20px;
        margin-left: -40px;
    }

    li{
        text-decoration: none;
        list-style: none;
        color: $foreground;
        font-size: 16px;
        background: $bg;
        border: 1px solid $disabled;
        border-radius: 20px;
        padding: 11px;
        margin-top: 15px;
        cursor: pointer;
    }
}

.quiz-container{
    width: 500px;
    background: $bg;
    border-radius: 6px;
    margin-top: 100px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.active-question-no{
    font-size:  32px;
    font-weight: 500;
    color: $primary;
}

.total-question{
    font-size: 16px;
    font-weight: 500;
    color: $disabled;
}